.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.logo {
    width: 80px;
    height: auto;
    margin-left: -15px;
}

.navLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navLinks li {
    margin-right: 20px;
}

.navLinks li:last-child {
    margin-right: 0;
}