.logo {
    width: 80px;
    height: auto;
    margin-left: -15px;
}

.navLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    align-items: center;

}

.navLinks li {
    margin-right: 10px;
}

.navLinks li:last-child {
    margin-right: 0;
}

.menu-link.link {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        flex-direction: row;
    }

    .navLinks {
        padding: 0;
    }

    .navLinks li {
        margin-right: 20px;
    }

    .menu-link.link {
        font-size: 16px;
    }
}