.cell {
    display: flex;
    justify-content: space-between;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: #fab702;
}

.movie-info {
    display: flex;
}

.movie-poster {
    width: 150px;
    height: auto;
}

.movie-poster img {
    width: 100%;
    display: block;
}

.movie-poster+.movie-details {
    margin-left: 30px;
}

.actions {
    display: flex;
    align-items: center;
}

.button-sets {
    display: flex;
}

.button-wrapper+.button-wrapper {
    margin-left: 10px;
}