@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

body {
  background-color: #222;
  color: #ddd;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 80px;
  background-image: url('../public/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover,
.link.active {
  color: #0069d9;
}

.title-wrapper {
  background-color: #151515;
  padding: 20px;
}

.page-wrapper {
  padding: 20px;
}

table {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 20px;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #e6e6e6;
}

tr {
  background-color: rgba(5, 29, 49, 0.7);
}

td {
  padding: 10px;
}