.user-info {
    padding: 20px;
    background-color: rgba(5, 29, 49, 0.7);
    border-radius: 5px;
}

.user-info-label {
    font-weight: bold;
    margin-right: 10px;
}

.button-wrapper {
    margin-top: 20px;
}