.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(5, 29, 49, 0.5);
    border-radius: 4px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
}