.movie-container {
    display: flex;
    padding: 10px;
    background-color: rgba(5, 30, 51, 0.7);
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.movie-image {
    width: 40%;
    max-width: 300px;
    height: auto;
}

.movie-details {
    width: 60%;
    margin-left: 40px;
    /* display: flex;
    flex-direction: column;
    text-align: center; */
}

/* .movie-info {
    display: block;
    width: 400px;
    margin: 0 auto;
} */

.movie-description {
    margin-top: 20px;

}

.imdb-link {
    display: inline-block;
}

.icon {
    color: #fab702;
}