.moviePoster {
    width: 80px;
    height: auto;
}

.moviePoster img {
    width: 100%;
    display: block;
}


.cell {
    display: flex;
}

.link {
    align-self: flex-start;
    margin-left: 10px;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background-color: #2a2a2a;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.link:hover {
    background-color: #746b6b;
}

.actions {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.buttonWrapper+.buttonWrapper {
    margin-left: 10px;
}


.addButton {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}